@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables for tailwind.config.ts */
@layer base {
  :root {
    --background: 207 44% 95%;
    --foreground: 207 28% 15%;

    --black: 207 28% 15%;
    --white: 207 58% 99%;

    --pink-500: 337 59% 64%;
    --pink-700: 337 48% 49%;

    --blue-100: 207 44% 95%;
    --blue-700: 207 16% 50%;
    --blue-900: 207 33% 32%;
  }

  .dark {
    --background: 207 28% 15%;
    --foreground: 207 44% 95%;
  }
}

/* Global styles */

@layer base {
  body {
    @apply bg-background text-foreground relative font-sans;
  }

  h1 {
    @apply font-display text-[32px] leading-10 text-blue-900 md:text-5xl md:leading-[48px] lg:text-[56px] lg:leading-[56px];
  }

  h2 {
    @apply font-display text-[32px] leading-10 text-blue-900 md:text-5xl md:leading-[56px];
  }

  h3 {
    @apply font-display text-2xl leading-8 text-blue-900 md:text-[32px] md:leading-10;
  }

  h4 {
    @apply font-sans text-lg font-bold leading-[25px] text-blue-900;
  }

  h5 {
    @apply font-display text-2xl leading-8 text-blue-900;
  }

  p {
    @apply text-[15px] leading-7 text-blue-700;
  }
}

.active {
  @apply text-pink-500 opacity-100;
}
